*{
    margin: 0;
}
html {
    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: 0.4s;  
    
}

body{
    /* background-color: #fabb88; */
   height: 100vh;
    transition: .8s;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    
}


  
  .ring-before,
  .ring-after,
  .ring-bigger-before,
  .ring-bigger-after {
    width: 54px;
    height: 42px;
    border-radius: 50%;
    border: 3px solid rgba(#f8c54d, .8);
    position: absolute;
    top: 177px;
    left: 1038px;
    transform: skew(-54deg);
    border: solid 1px rgba(255, 255, 255, 0.473)
  }
  
  

  .ring-before,
  .ring-bigger-before {
    z-index: 3;
    clip-path: inset(50% 0 0 0);
  }
  


.planet{
    position: absolute;
  top: 30%;
  left: 78%;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, rgb(255, 193, 78) 1%, rgb(201, 150, 11) 50%, rgb(58, 38, 1) 100%);
  border-radius: 50%;
  transform: rotate(-15deg) translate(-35%, -55%);
}

#star-content{
    
    position: absolute;
    z-index: -100;
    border: solid 1px red;
    left: 0px;
}


.bola{
    stroke-width: 0.5px;
}

.star{
    display: flex;
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 900px;
    transition: 4s;
   
    
}

.uno{
    position: absolute;
    left: 300px;
    top: 100px;
    transition: 4s;
}
.dos{
    position: absolute;
    left: 200px;
    top: 250px;
}
.tres{
    position: absolute;
    left: 400px;
    top: 350px;
}
.cuatro{
    position: absolute;
    left: 600px;
    top: 550px;
}
.cinco{
    position: absolute;
    left: 250px;
    top: 550px;
}
.seis{
    position: absolute;
    left: 1000px;
    top: 120px;
}
.siete{
    position: absolute;
    left: 1150px;
    top: 450px;
}
.ocho{
    position: absolute;
    left: 800px;
    top: 450px;
}

.nueve{
    position: absolute;
    left: 1250px;
    top: 210px;
}
.diez{
    position: absolute;
    left: 1000px;
    top: 310px;
}
.once{
    position: absolute;
    left: 1000px;
    top: 580px;
}

#container{
    display: flex;
    justify-content: center;
}

#lateral{
    position: absolute;
    left: 0px;
    height: 500px;
    background-color: #1d1d27;

    display: flex;
    flex-wrap: wrap;
    width: 85px;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    box-shadow: 21px 16px 133px -1px rgba(0,0,0,0.41);
-webkit-box-shadow: 21px 16px 133px -1px rgba(0,0,0,0.41);
-moz-box-shadow: 21px 16px 133px -1px rgba(0,0,0,0.41);
}

.botones{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;

}



.botones:focus{
    background-color:#55efc4;
    transition: 0.5s;
 
 }
 .shadow{
     z-index: -10;
     position: absolute;
    margin-left: 30px;
    margin-top: 234px;
    display: flex;
    justify-content: center;
    width: 150PX;
    height: 150px;
    border-radius: 500px;

    box-shadow: 2px 1px 153px 34px rgba(247, 244, 244, 0.42);
-webkit-box-shadow: 2px 1px 153px 34px rgba(255, 255, 255, 0.096);
-moz-box-shadow: 2px 1px 153px 34px rgba(0,0,0,0.42);
 }
.orbit-box{
    z-index: 10;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    width: 180PX;
    height: 180px;
    border-radius: 500px;
}

.orbit-circle{
    transition: var(--duration);
    
}

.half-circle{
    transition: var(--duration);
    
}


.ball{
    fill-opacity: 90% ;

}


.menu__item{
    all: unset;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 1s;
    
}

@media (min-width: 380px) and (max-width: 450px) {

    #lateral{
        position: absolute;
        top: 600px;
        left: 0px;
        height: 85px;
        background-color: #1d1d27;
    
        display: flex;
        flex-wrap: nowrap;
        width: 430px;
        font-size: 1.5em;
        align-items: center;
        justify-content: space-around;
        border-bottom-right-radius: 0px;
    }

    .botones:hover{
        background-color: #9999fb;
        transition: 0.5s;
     
     }
}



