*{
    margin: 0;
}
html {
    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: 0.4s;  
}

body{
    background-color: #fabb88;
    transition: .8s;
}

#star-content{
    
    position: absolute;
    z-index: -100;
    border: solid 1px red;
    left: 0px;
}

.star{
    display: none;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 900px;
    position: absolute;
    left: 400px;
    top: 50px;
}

.uno, .dos, .tres, .siete, .ocho, .nueve, .diez, .once, .doce, .trece, .catorce{
    margin-left: 6px;
    /* border: solid 1px red; */
}

.cuatro, .cinco , .seis{
    margin-left: 15px;
    border: solid 1px yellow;
}

#container{
    display: flex;
    justify-content: center;
}

#lateral{
    position: absolute;
    left: 0px;
    height: 500px;
    background-color: #1d1d27;

    display: flex;
    flex-wrap: wrap;
    width: 85px;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
}

.botones{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;

}



.botones:focus{
    background-color:#55efc4;
    transition: 0.5s;
 
 }
.orbit-box{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;

}

.orbit-circle{
    transition: var(--duration);
}

.half-circle{
    transition: var(--duration);
}


.ball{
    fill-opacity: 80% ;
    

}


.menu__item{
    all: unset;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 1s;
    
}

@media (min-width: 380px) and (max-width: 450px) {

    #lateral{
        position: absolute;
        top: 600px;
        left: 0px;
        height: 85px;
        background-color: #1d1d27;
    
        display: flex;
        flex-wrap: nowrap;
        width: 430px;
        font-size: 1.5em;
        align-items: center;
        justify-content: space-around;
        border-bottom-right-radius: 0px;
    }

    .botones:hover{
        background-color: #9999fb;
        transition: 0.5s;
     
     }
}



